.detail {
  margin: 1.5em 2em;
  padding: 0.2em;
  position: fixed;
}

.metadata {
  margin: 1.5em 0;
}

.title {
  color: #fff;
}

.channel {
  color: #aaa;
}

.description {
  color: #fff;
  white-space: pre-wrap;
}
