.container.grid {
  width: 25%;
  padding: 0 0.5em;
}

.container.list {
  width: 100%;
}

.container:hover {
  transform: scale(1.02);
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 250ms ease-in-out;
}

.thumbnail {
  width: 100%;
  height: 100%;
}

.metadata {
  margin-left: 0.2em;
  margin-right: auto;
}

.title {
  font-size: 0.9rem;
  font-weight: 800;
  color: #fff;
}

.channel {
  font-size: 0.75rem;
  font-weight: 800;
  color: #aaa;
}
