:root {
  /* Color */
  --black-color: #202020;
  --dark-black-color: #121212;
  --white-color: #fff;
  --light-grey-color: #909090;
  --dark-grey-color: #313131;
  --red-color: #f54133;
  /* Size */
  --nav-height: 56px;
  --btn-icon-width: 40px;
  --btn-icon-height: 40px;
  --sidebar-width: 70px;
  --margin-small: 4px;
  /* Font Size */
  --font-large: 24px;
  --font-medium: 18px;
  --font-small: 10px;
  /* Bold */
  --bold-large: 900;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial;
  /* background-color: var(--dark-black-color); */
  background-color: var(--white-color);
}
a {
  text-decoration: none;
}
button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn-icon {
  width: var(--btn-icon-width);
  height: var(--btn-icon-height);
  font-size: var(--font-large);
  color: var(--white-color);
}

nav {
  height: var(--nav-height);
  background-color: var(--black-color);
  display: flex;
  align-items: center;
}
nav .left-side {
  height: 100%;
  display: flex;
  align-items: center;
}
nav .left-side .open-sidebar {
  width: var(--sidebar-width);
}
nav .left-side .home {
  display: flex;
  margin: 0 10px;
}
nav .left-side .home__logo {
  height: 30px;
  margin: 0 var(--margin-small);
}
nav .left-side .home__youtube {
  display: inline-block;
  height: 100%;
  margin: auto 0;
  color: var(--white-color);
  font-size: var(--font-large);
  font-weight: var(--bold-large);
  letter-spacing: -1.8px;
}
nav .left-side .home__local {
  color: var(--light-grey-color);
  font-size: var(--font-small);
  font-weight: var(--bold-large);
}
nav .center-side {
  flex-grow: 1;
}
nav .center-side .search-bar {
  width: 100%;
  height: var(--btn-icon-height);
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .center-side .search-bar__inputbox {
  position: relative;
  width: 100%;
  max-width: 500px;
}
nav .center-side .search-bar__input {
  width: 100%;
  height: 30px;
  padding: 10px;
  border: 2px solid var(--dark-grey-color);
  background-color: var(--dark-black-color);
  color: var(--white-color);
}
nav .center-side .search-bar__virtual-keyboard {
  font-size: var(--font-medium);
  position: absolute;
  right: 10px;
  top: 6px;
  color: var(--light-grey-color);
}
nav .center-side .search-bar__btn {
  background-color: var(--dark-grey-color);
  width: 65px;
  height: 30px;
  color: var(--light-grey-color);
}

nav .right-side {
  display: flex;
}
nav .right-side button {
  margin: 0 10px;
}
nav .right-side button:first-child {
  margin-left: 0px;
}
nav .right-side .user {
  width: var(--btn-icon-width);
  height: var(--btn-icon-height);
  border-radius: 50%;
  background-color: orange;
  color: var(--white-color);
  font-weight: 500;
  font-size: var(--font-large);
  margin-right: 30px;
}

.sidebar {
  width: var(--sidebar-width);
  height: 100vh;
  background-color: var(--black-color);
  display: flex;
  flex-direction: column;
}
.sidebar a {
  width: var(--sidebar-width);
  height: var(--sidebar-width);
  color: var(--light-grey-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--font-medium);
}
.sidebar a:hover {
  background-color: var(--dark-grey-color);
}
.sidebar a.selected {
  color: var(--white-color);
}
.sidebar a span {
  font-size: var(--font-small);
  margin-top: var(--margin-small);
}
